#version: '3.9'

services:
  # MySQL Database
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: desafio_db
      MYSQL_USER: appuser
      MYSQL_PASSWORD: apppassword
    ports:
      - "3306"
      #- "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - micro_net

  # RabbitMQ
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: always
    ports:
      - "5672"
      #- "5672:5672"
      - "15672:15672" # painel de controle
    networks:
      - micro_net

  # Logs Seq
  seq:
    image: datalust/seq:latest
    container_name: seq
    restart: always
    ports:
      - "5341:80"
    environment:
      - ACCEPT_EULA=Y
      - SEQ_FIRSTRUN_ADMINPASSWORD=admin123
      #- SEQ_FIRSTRUN_NOAUTHENTICATION=true
    volumes:
      - seq_data:/data
    networks:
      - micro_net

  # Microserviço de Estoque
  estoque:
    build:
      context: .
      dockerfile: ./Estoque/Dockerfile
    container_name: estoque
    restart: always
    depends_on:
      - mysql
      - rabbitmq
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__MySql=Server=mysql;Port=3306;Database=estoque;User=root;Password=root;
      - RabbitMQ__Host=rabbitmq
      - RabbitMQ__Port=5672
      - SEQ_URL=http://seq:5341
    ports:
      - "8080"
      #- "5001:8080"
    networks:
      - micro_net

  # Microserviço de Vendas
  vendas:
    build:
      context: .
      dockerfile: ./Vendas/Dockerfile
    container_name: vendas
    restart: always
    depends_on:
      - mysql
      - rabbitmq
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__MySql=Server=mysql;Port=3306;Database=vendas;User=root;Password=root;
      - RabbitMQ__Host=rabbitmq
      - RabbitMQ__Port=5672
      - SEQ_URL=http://seq:5341
    ports:
      - "8080"
      #- "5002:8080"
    networks:
      - micro_net

  # AuthService
  authservice:
    build:
      context: .
      dockerfile: ./AuthService/Dockerfile
    container_name: authservice
    restart: always
    depends_on:
      - mysql
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__MySql=Server=mysql;Port=3306;Database=authdb;User=root;Password=root;
      - Jwt__Key=minha_chave_super_secreta_jwt_123456 # chave usada para assinar tokens
      - Jwt__Issuer=AuthService
      - Jwt__Audience=Microservices
      - SEQ_URL=http://seq:5341
    ports:
      - "8080"
      #- "5003:8080"
    networks:
      - micro_net

  # API Gateway
  apigateway:
    build:
      context: .
      dockerfile: ./ApiGateway/Dockerfile
    container_name: apigateway
    restart: always
    depends_on:
      - vendas
      - estoque
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - SEQ_URL=http://seq:5341
    ports:
      - "5000:8080"
    networks:
      - micro_net

networks:
  micro_net:
    driver: bridge

volumes:
  mysql_data:
  seq_data: